.ImgDescDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 80px;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 80px;
}

@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
    .ImgDescDiv {
        position: relative;
        bottom: 65px;
        flex-direction: column;
        margin: 0 15px;
    }

    .Description {
        margin: 0;
    }
}