.ImgDescDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 80px;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 80px;
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .ImgDescDiv {
        position: relative;
        right: 40px;
        flex-direction: column;
        margin: 0 15px;
    }

    .Description {
        margin: 0;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .ImgDescDiv {
        position: relative;
        bottom: 65px;
        flex-direction: column;
        margin: 0 15px;
    }

    .Description {
        margin: 0;
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .Description p {
        font-size: 0.7em;
    }
}

@media (max-width: 915px) and (orientation: landscape) {
    .Description h2 {
        font-size: 1em;
        margin: 0.5em 0;
    }

    .Description p {
        font-size: 0.7em;
    }
}

@media (max-width: 655px) and (orientation: landscape) {
    .Description h2 {
        font-size: 1em;
        margin: 0.3em 0;
    }

    .Description p {
        font-size: 0.6em;
    }
}