.ServiceTop {
    margin: 0 10%;
}

.ServiceTop h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.Separator {
    width: 200px;
    border: 3px solid;
    border-radius: 5px;
    margin: 8px 0;
}

.LinkToServices {
    display: block;
    height: fit-content;
    width: fit-content;
    margin-left: 10%;
    text-decoration: none;
}

.LinkToServices > div {
    display: flex;
    align-items: center;
    height: 50px;
    width: fit-content;
}

.LinkToServices p {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0 10px;
    text-transform: uppercase;
    z-index: 1;
}

.DivAnimOnHover {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #FD7272;
    border-radius: 50px;
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .ServiceTop {
        margin: 0;
    }

    .ServiceTop h2 {
        line-height: 40px;
    }

    .LinkToServices {
        margin-left: 0;
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .ServiceTop h2 {
        font-size: 35px;
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .LinkToServices p {
        font-size: 1em;
    }
}