.ServiceDiv {
    position: relative;
    width: 80%;
    height: 50%;
    padding-bottom: 80px;
    background-color: #2f3e4b;
    border: 3px solid #FD7272;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ServiceDiv img {
    height: 310px;
    width: auto;
}

.Progress {
    position: sticky;
    top: 0;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.Progress svg {
    transform: translateX(-100px) rotate(-90deg);
}

.Progress svg circle {
    stroke-dashoffset: 0;
    stroke-width: 5%;
    fill: none;
}

.Bg {
    stroke: #FD7272;
    opacity: 0.2;
}

.Indicator {
    stroke: #FD7272;
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .ServiceDiv {
        display: flex;
        align-items: center;
        height: 80%;
        padding: 0;
    }
    
    .ServiceDiv img {
        height: 165px;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .ServiceDiv {
        width: 100%;
    }

    .ServiceDiv img {
        height: 170px;
    }

    .Progress svg {
        transform: translateY(-100px) rotate(-90deg);
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .ServiceDiv img {
        height: 100px;
    }
}

@media (max-width: 915px) and (orientation: landscape) {
    .ServiceDiv img {
        height: 100px;
    }
}