.PageContainer {
    margin: 64px 32px;
    padding: 32px;
    background-color: #2C3A47;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
}

.PageContainer main {
    margin: 50px 0;
}

.ContentDiv {
    display: flex;
    flex-direction: row;
}

.ContentDiv main {
    margin: 50px 8%;
}

.ContentDiv > aside {
    margin: 28vh 0 0 0;
}

@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
    .PageContainer {
        margin: 16px 8px;
    }

    .ContentDiv {
        flex-direction: column-reverse;
    }

    .ContentDiv main {
        margin: 50px 0;
    }

    .ContentDiv > aside {
        margin: 50px 0 0 0;
    }
}