.ExpContainer {
    margin-top: 150px;
}

.WorksTop {
    margin-bottom: 100px;
}

.WorksTop h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
}

.Separator {
    width: 200px;
    border: 3px solid;
    border-radius: 5px;
    margin: 8px 0;
}

.ArticleExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.ArticleExp > section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.ArticleExp > section:nth-child(2n) {
    align-items: flex-end;
}

.ArticleExp > section > h4 {
    font-size: 1.1rem;
    text-align: right;
    width: 45%;
}

.ArticleExp > section:nth-child(2n) > h4 {
    text-align: left;
}

.Timeline {
    position: relative;
    bottom: 78.5vh;
    margin-bottom: -80vh;
    height: 100%;
}

.Dot {
    position: relative;
    right: 5px;
    top: 2vh;
    margin-bottom: 11.5vh;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #FC427B;
    z-index: 2;
}

.Line {
    position: relative;
    bottom: 78vh;
    margin-bottom: -95vh;
    height: 67vh;
    width: 5px;
    background-color: #FD7272;
    z-index: 1;
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .Line {
        bottom: 77vh;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .WorksTop h2 {
        line-height: 40px;
    }

    .ArticleExp {
        height: 1000px;
    }

    .ArticleExp > section {
        max-height: 167px;
    }

    .Timeline {
        bottom: 785px;
        margin-bottom: -785px;
    }

    .Dot {
        margin-bottom: 124px;
    }

    .Line {
        bottom: 815px;
        margin-bottom: -815px;
        height: 700px;
    }
}