.IntroDiv {
    height: auto;
    width: 50%;
}

.ImgDiv{
    height: auto;
    width: 50%;
}

.IntroDiv h3 {
    height: auto;
    width: 330px;
    margin: 50px 0;
    font-size: 1em;
    font-weight: normal;
}

.H1MyName {
    font-family: 'Exo 2', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.H1MyName span {
    display: inline-block;
}

.LinkToMail {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 0 0 0 100px;
}

.ButtonContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border: 15px solid #f99191;
    border-radius: 50%;
    background-color: #FD7272;

    font-family: 'Nunito', sans-serif;
    color: #FFF;
}

.ButtonContact span {
    font-weight: 800;
    line-height: 10px;
}

.ButtonContact span:first-of-type {
    font-size: 15px;
    margin-bottom: 5px;
}

.ButtonContact span:last-of-type {
    font-size: 12px;
}

.PhotoBackground {
    height: auto;
    width: 320px;
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .ImgDiv {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .IntroDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .IntroDiv h3 {
        text-align: center;
        width: 80%;
    }

    .LinkToMail {
        margin: 0;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .ImgDiv {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .PhotoBackground {
        width: 220px;
    }

    .IntroDiv {
        width: 100%;
    }

    .IntroDiv h2 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .IntroDiv h3 {
        width: auto;
    }

    .LinkToMail {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
}