.IntroDiv {
    height: auto;
    width: 50%;
}

.ImgDiv{
    height: auto;
    width: 50%;
}

.IntroDiv p {
    height: auto;
    width: 300px;
    margin: 50px 0;
}

.H1MyName {
    font-family: 'Exo 2', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.H1MyName span {
    display: inline-block;
}

.ButtonContact {
    height: 100px;
    width: 100px;
    border: 15px solid #f99191;
    border-radius: 50%;
    background-color: #FD7272;
    margin: 0 0 0 100px;

    font-family: 'Nunito', sans-serif;
    color: #FFF;
}

.ButtonContact span {
    font-weight: 800;
    line-height: 10px;
}

.ButtonContact span:first-of-type {
    font-size: 15px;
}

.ButtonContact span:last-of-type {
    font-size: 12px;
}

.PhotoBackground {
    height: auto;
    width: 320px;
}