.PageContainer {
    margin: 64px 32px;
    padding: 32px;
    background-color: #2C3A47;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.PageContainer main {
    margin: 50px 0;
}

.ContentDiv {
    display: flex;
    flex-direction: row;
}

.ContentDiv main {
    margin: 50px 8%;
}

.ContentDiv > aside {
    margin: 28vh 0 0 0;
}

.WorksTop {
    margin-bottom: 100px;
}

.WorksTop h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
}

.Separator {
    width: 200px;
    border: 3px solid;
    border-radius: 5px;
    margin: 8px 0;
}

.AsideDownloadResume {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.LinkTo {
    display: block;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

.LinkTo > div {
    display: flex;
    align-items: center;
    height: 50px;
    width: fit-content;
}

.LinkTo p {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0 10px;
    text-transform: uppercase;
    z-index: 1;
}

.DivAnimOnHover {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #FD7272;
    border-radius: 50px;
}