.MainPortfolio {
    margin: 50px 0;
}

.WorksDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 0 10%;
}

.WorksDiv a {
    text-decoration: none;
}

.WorksDiv li {
    height: auto;
    width: auto;
    aspect-ratio: 576 / 316;
    margin: 0;
}

.WorksTop {
    margin: 0 0 100px 10%;
}

.WorksTop h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
}

.Separator {
    width: 200px;
    border: 3px solid;
    border-radius: 5px;
    margin: 8px 0;
}