.SocialButtonsAside {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: 0 96px 0 0;
}

.SocialButtonsAside img{
    height: 30px;
    width: 30px;
    margin-bottom: 10px;

    filter: invert(94%) sepia(18%) saturate(99%) hue-rotate(61deg) brightness(88%) contrast(90%);
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .SocialButtonsAside {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 80px 0 0 0;
    }

    .SocialButtonsAside img {
        margin: 0 20px 0 0;
    }

    .SocialButtonsAside a:last-of-type img {
        margin: 0;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .SocialButtonsAside {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 80px 0 0 0;
    }

    .SocialButtonsAside img {
        margin: 0 10px 0 0;
    }

    .SocialButtonsAside a:last-of-type img {
        margin: 0;
    }
}