.SocialButtonsAside {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: 0 96px 0 0;
}

.SocialButtonsAside img{
    height: 30px;
    width: 30px;
    margin-bottom: 10px;

    filter: invert(94%) sepia(18%) saturate(99%) hue-rotate(61deg) brightness(88%) contrast(90%);
}