.SectionTechs {
    margin-bottom: 50px;
    padding: 10px 30px;
    background-color: #2f3e4b;
    border: 3px solid #FD7272;
    border-radius: 30px;
}

.TechsContainer span {
    display: inline-block;
    margin: 0 25px 10px 0;
}

.TechsContainer span[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

.TechsContainer span[data-title]:after {
    content: attr(data-title);
    background-color: #2C3A47;
    color: #CAD3C8;
    font-size: 1em;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1em;
    left: 70%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #FD7272;
    border-radius: 10px;
    z-index: 99999;
    visibility: hidden;
}

.ImgTech {
    height: 3rem;
    width: auto;
}