* {
    cursor: none;
}

.cursor {
    background-color: #FFF;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1000;
}

/*Light Mode*/

#light a {
    color: #3B3B98;
}

#light .page-container {
    background-color: #F8EFBA;
}

#light header img {
    filter: invert(25%) sepia(66%) saturate(920%) hue-rotate(208deg) brightness(89%) contrast(101%);
}

#light .services-button {
    background-color: #EAB543;
    color: #3B3B98;
}

#light .div-arrow-svg > svg {
    filter: invert(25%) sepia(66%) saturate(920%) hue-rotate(208deg) brightness(89%) contrast(101%);
}

#light .list-services {
    background: #EAB543;
}

#light .social-buttons-aside img {
    filter: invert(25%) sepia(66%) saturate(920%) hue-rotate(208deg) brightness(89%) contrast(101%);
}

#light .service-div {
    background-color: #f7efc3;
}

#light .div-about-me p {
    color: #CAD3C8
}

#light .aside-container-stay-connected p {
    color: #FC427B;
}

#light .contact-buttons-div-stay-connected img {
    filter: invert(25%) sepia(66%) saturate(920%) hue-rotate(208deg) brightness(89%) contrast(101%);
}

#light .section-techs {
    background-color: #f7efc3;
}

#light .techs-container span[data-title]:after {
    background-color: #F8EFBA;
    color: #3B3B98;
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    #light .services-button {
        background-color: #fc8888;
    }
    
    #light .list-services {
        background: #fc8888;
    }
}