.WorkLi {
    height: 100%;
    width: 576px;
    list-style-type: none;
    border-radius: 15px;
}

.WorkLi img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.WorkDetails {
    position: relative;
    bottom: 125px;
    padding: 20px 40px;
    background: rgba(253, 114, 114,0.9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: -125px;
    overflow: hidden;
}

.WorkDetails h3, p {
    margin: 0;
}

.WorkDetails h3 {
    max-height: 32px;
}

.WorkDetails p {
    max-height: 43px;
}

.DivTitleYear {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.TextTitleYear {
    font-size: 23px;
    font-weight: bold;
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .WorkDetails {
        opacity: 1!important;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .WorkLi {
        width: 70vw;
    }

    .WorkDetails {
        opacity: 1!important;
        bottom: 44%;
        padding: 10px;
        margin-bottom: -130px;
        height: 36%;
    }

    .TextTitleYear {
        font-size: 1em;
    }
    
    .WorkDetails p {
        font-size: 0.9em;
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .WorkLi {
        width: 55vw;
    }

    .TextTitleYear {
        font-size: 0.8em;
    }
    
    .WorkDetails p {
        font-size: 0.6em;
    }
}

@media only screen and (max-width : 413px) and (max-height: 800px) {
    .WorkDetails {
        margin-bottom: -100px;
    }
}