.AboutMeSection {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 400px 0 0 0;
}

.AboutMeCard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    height: 60vh;
    width: 60vw;
    border-radius: 30px;
    background: linear-gradient(306deg, rgb(24, 44, 97), rgb(59, 59, 152));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Div {
    display: flex;
    height: 100%;
    width: 100%;
}

.Div > div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    z-index: 1;
}

.Div > p {
    width: auto;
    height: 100%;
    padding: 3vmin 4vmin;
    background: linear-gradient(306deg, rgb(24, 44, 97), rgb(59, 59, 152));
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
    overflow-y: scroll;
}

.Div > div > img {
    position: absolute;
    top: 0;
    left: 22vw;
    width: 39vw;
    height: 100%;
    object-fit: cover;
}

.AboutMeDesc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    height: 82%;
    padding: 0.5rem 0 0 0.5rem;
    border-left: 3px solid;
    z-index: 1;
}

.AboutMeDesc > h2 {
    margin: 0;
}

.AboutMeDesc > h3 {
    font-size: 1.2em;
    margin: 0;
}

.Div > div > div:last-of-type {
    position: absolute;
    bottom: 50px;
    left: 24vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 4vmin;
}

.Div > div > div:last-of-type > div{
    width: 14px;
    height: 14px;
    background: #FD7272;
    border-radius: 50%;
}

.SplashWallet {
    position: absolute;
    bottom: 0;
    left: 14.5%;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 65vw;
    clip-path: polygon(0 65%, 100% 48%, 100% 100%, 0% 100%);
    border-radius: 30px;
    background: linear-gradient(306deg, rgb(252, 66, 123), rgb(253, 114, 114));
}

@media only screen and (min-width : 481px) and (max-width : 1065px) {
    .AboutMeCard {
        height: 450px;
        width: 80vw;
    }

    .Div > div > img {
        display: none;
    }

    .AboutMeDesc {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .AboutMeDesc > h2 {
        font-size: 1.2em;
    }
    
    .AboutMeDesc > h3 {
        font-size: 1em;
        margin: 0.2em 0;
    }

    .Div > div > div:last-of-type > div {
        display: none;
    }

    .SplashWallet {
        left: 0;
        width: 85vw;
    }
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .AboutMeCard {
        height: 30vh;
        width: 80vw;
    }

    .Div > div > img {
        display: none;
    }

    .AboutMeDesc {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .AboutMeDesc > h2 {
        font-size: 1.2em;
    }
    
    .AboutMeDesc > h3 {
        font-size: 0.8em;
        margin: 0.2em 0;
    }

    .Div > div > div:last-of-type > div {
        display: none;
    }

    .SplashWallet {
        left: -3%;
        width: 85vw;
    }
}